.split-form {
  $b: #{&};
  padding: var(--default-padding);
  background-color: var(--white);
  width: 100%;
  display: grid;
  border-radius: 2em;
  gap: 20px;

  grid-template-areas:
    "inputs"
    "totals";

  @media only screen and (min-width: 600px) {
    width: 80%;
    gap: 5px;
    grid-template-areas: "inputs totals";
  }

  @media only screen and (min-width: 768px) {
    width: 70%;
  }

  @media only screen and (min-width: 992px) {
    width: 60%;
  }

  &__subgrid-item {
    border-radius: 1.25em;
    padding: var(--default-padding);
  }

  &__subgrid-item:nth-of-type(1) {
    grid-area: inputs;
    padding: var(--default-padding);
  }

  &__subgrid-item:nth-of-type(2) {
    grid-area: totals;
    color: var(--white);
    background-color: var(--green-900);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1.5fr 0.25fr;
  }

  &__single-tip-amount {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
  }

  &__tip-button {
    cursor: pointer;
    background-color: var(--green-900);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    font-size: calc(var(--fs-regular) + 0.25rem);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green);
      color: var(--green-900);
    }
  }

  &__number-input-field {
    cursor: pointer;
    width: 100%;
    border: 0.125rem solid transparent;
    background-color: var(--grey-50);
    border-radius: 0.5rem;
    text-align: end;
    color: var(--green-900);

    &:focus,
    &:active {
      outline: none;
      border: 0.125rem solid var(--green-900);
    }

    &:user-invalid {
      border: 0.125rem solid red;
    }
  }

  &__reset-button {
    cursor: pointer;
    background-color: var(--light-lime);
    color: var(--green-900);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green);
      color: var(--green-900);
    }
  }

  &__calulated-totals {
    // border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__calulated-text {
    display: grid;
  }

  &__total-text {
    font-size: var(--fs-regular);
    color: var(--white);
  }
  &__total-text--muted {
    color: var(--fc-muted-white);
  }

  &__final-cost {
    justify-self: end;
    align-content: center;

    color: var(--light-lime);
    font-size: var(--fs-large);
  }

  &__prefixed-input-field {
    display: flex;

    align-items: center;
    border: 0.125rem solid transparent;
    background-color: var(--grey-50);
    border-radius: 0.5rem;
    padding: 5px;

    input {
      border: none;
      outline: none;
      width: 100%;
      text-align: end;
      background-color: transparent;
      color: var(--green-900);
    }

    &:focus-within {
      border-color: var(--green-900);
    }
  }
}
