.split-form {
  border: 2px solid red;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
}
/* .counter {
  font-size: 16px;

  &:hover {
    border-color: var(--accent-border);
  }

  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}
 */
