.split-form {
  $b: #{&};
  padding: var(--default-padding);
  background-color: var(--white);
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2em;

  &__subgrid-item {
    border-radius: 1.25em;
    padding: var(--default-padding);
  }

  &__subgrid-item:nth-of-type(1) {
    padding: var(--default-padding);
  }

  &__subgrid-item:nth-of-type(2) {
    color: var(--white);
    background-color: var(--green-900);
  }

  &__single-tip-amount {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
  }

  &__tip-button {
    cursor: pointer;
    background-color: var(--green-900);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    font-size: calc(var(--fs-regular) + 0.25rem);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green);
      color: var(--green-900);
    }
  }

  &__number-input-field {
    cursor: pointer;
    width: 100%;
    border: 0.125rem solid transparent;
    background-color: var(--grey-50);
    border-radius: 0.5rem;
    text-align: end;

    &:focus,
    &:active {
      outline: none;
      border: 0.125rem solid var(--green-900);
    }

    &:user-invalid {
      border: 0.125rem solid red;
    }
  }

  &__reset-button {
    cursor: pointer;
    background-color: var(--light-lime);
    color: var(--green-900);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--light-green);
      color: var(--green-900);
    }
  }

  &__calulated-totals {
    // border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__calulated-text {
    // border: 1px solid blue;
    display: grid;
  }

  &__total-text {
    font-size: var(--fs-regular);
    color: var(--white);
  }
  &__total-text--muted {
    color: var(--fc-muted-white);
  }

  &__final-cost {
    justify-self: end;
    align-content: center;

    color: var(--light-lime);
    font-size: var(--fs-large);
  }
}
